{% if include.data %}
<div class="d-flex flex-column flex-sm-row flex-wrap">
    {% for item in include.data %}
    <div class="course">
        <div class="course-preview">
            <img src="{{item.img}}" alt="{{item.img}}">
            <h6>{{item.title}}</h6>
        </div>
        <div class="course-info">
            <h6>{{item.title}}</h6>
            <h2>{{item.content}}</h2>
            <p>{{item.desc}}</p>
            <p style="margin: 0;">skill and tools</p>
            <p style="margin: 0;">{{item.skill}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}