{%- include fn/get_dir_pages.liquid dir=include.dir -%}
{%- assign pages = _get_dir_pages_result -%}
    {% if pages.size > 0 %}
<div class="Subhead">
    <div class="Subhead-heading">글 목록</div>
    <div class="Subhead-description">{{dir.description}}</div>
</div>
    {% include pages_viewer.html pages=pages %}
{% endif %}

{%- include fn/get_sub_dirs.liquid parent=include.dir -%}
{%- assign sub_dirs = _get_sub_dirs_result | sort: 'nav_order' -%}
{%- for d in sub_dirs -%}
<div class="Subhead" style="margin-top: 12px">
    <div class="Subhead-heading">{{d.title_label | default: d.title}}</div>
    <div class="Subhead-description">{{d.description}}</div>
</div>
    {%- include fn/get_dir_pages.liquid dir=d -%}
    {% include pages_viewer.html pages=_get_dir_pages_result %}
{%- endfor -%}