<div class="w-top-menu">
    <div class="w-top-menu-box">
        <div class="d-flex">
            <a href="/" style="color: #FFF; font-weight: bold; font-size:24px">회고공간</a>
        </div>
        <div class="w-top-menu-box-right">
            <button class="w-btn-menu">
                <svg aria-hidden="true" role="img" class="octicon" viewBox="0 0 16 16" width="16" height="16"
                    fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom;">
                    <path fill-rule="evenodd"
                        d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z">
                    </path>
                </svg>
            </button>
            <div class="w-sm-right-menu">
                <div class="w-backdrop">
                </div>
                <div class="w-sm-menu">
                    <div class="w-sm-title">
                        <a>회고공간</a>
                        <button class="w-btn-close">
                            <svg aria-hidden="true" role="img" class="octicon" viewBox="0 0 16 16" width="16"
                                height="16" fill="currentColor"
                                style="display: inline-block; user-select: none; vertical-align: text-bottom;">
                                <path fill-rule="evenodd"
                                    d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                                </path>
                            </svg>
                        </button>
                    </div>
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
    </div>
</div>