.toc {
    >span {
        display: flex;

        >em {
            margin-left: 0.3em;
            display: flex;
            color: white;
            align-self: center;
        }

        >a {
            display: flex;
            width: 100%;
        }
    }
}

.toc.current {
    >span {
        >em {
            color: black;
        }
    }
}

.Box-row a {
    color: unset;
    font-size: 14px;
}

.markdown-body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-scroll-margin-top: 80px;
        -moz-scroll-margin-top: 80px;
        -ms-scroll-margin-top: 80px;
        scroll-margin-top: 80px;
    }
}

/* image */
img {
    border: 1px solid #D4D4D4;
    outline: 1px solid #D2D2D2;
    outline-offset: 4px;
    margin: 4px;
}

/* highlighter-rouge box */
.highlighter-rouge-box-400 {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.w-top-menu {
    top: 0px;
    z-index: 1;
    position: sticky;

    .w-top-menu-box {
        padding-left: 24px;
        padding-right: 24px;
        background-color: rgb(27, 31, 35);
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: 66px;
        display: flex;
    }

    .w-top-menu-box-right {
        @media screen and (min-width: 1012px) {
            display: none;
        }

        display: flex;
    }

    .w-btn-close,
    .w-btn-menu {
        position: relative;
        display: inline-block;
        padding: 6px 16px;
        font-family: inherit;
        font-weight: 600;
        line-height: 20px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border-radius: 6px;
        appearance: none;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        margin-left: 16px;
        color: rgb(200, 225, 255);
        background-color: transparent;
        border: 1px solid rgb(68, 77, 86);
        box-shadow: none;

        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(3, 102, 214);
            border-color: rgba(27, 31, 35, 0.15);
            box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.03) 0px 2px 0px inset;
        }
    }

    .w-sm-right-menu {
        display: none;

        .w-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            position: fixed;
            opacity: 1;
        }

        .w-sm-menu {
            z-index: 1;
            transform: none;
            width: 300px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            position: fixed;
            background-color: #FFF;
        }

        .w-sidebar {
            @media screen and (min-width: 1012px) {
                display: none;
            }

            display: block;
        }

        .w-sm-title {
            border-width: 0px 0px 1px;
            border-radius: 0px;
            border-color: rgb(68, 77, 86);
            border-style: solid;
            padding: 16px 16px 16px 24px;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            display: flex;
            background-color: rgb(36, 41, 46);

            >a {
                color: rgb(200, 225, 255);
            }
        }
    }
}

.w-body {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    z-index: 0;
}


.w-sidebar {
    @media screen and (min-width: 1012px) {
        display: block;
    }

    display: none;
    min-width: 260px;
    position: sticky;
    background-color: rgb(250, 251, 252);
    height: calc(100vh - 66px);
    top: 66px;
}

.w-content {
    @media screen and (min-width: 768px) {
        grid-template-columns: minmax(0px, 960px) 220px;
        grid-template-areas:
            "heading table-of-contents"
            "content table-of-contents";
        column-gap: 48px;
    }

    grid-template-columns: 100%;
    grid-template-areas: "heading"
    "content";
    row-gap: 16px;
    margin-right: auto;
    max-width: 100%;
    display: grid;
    row-gap: 16px;
    -webkit-box-align: start;
    align-items: start;
    align-self: start;
    padding: 48px;
    width: 100%;
}

.w-content-dir {
    @media screen and (min-width: 768px) {
        grid-template-columns: 100%;
        grid-template-areas:
            "heading"
            "content";
        column-gap: 48px;
    }
}

.w-content-content {
    grid-area: content / content / content / content;
}

.w-stoc {
    @media screen and (min-width: 768px) {
        display: block;
    }

    display: none;
    max-height: calc((100vh - 66px) - 24px);
    position: sticky;
    top: 90px;
    grid-area: table-of-contents / table-of-contents / table-of-contents / table-of-contents;
    overflow: auto;
}

.w-breadcrumb {
    padding-bottom: 8px;
    border-width: 0px 0px 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: rgb(225, 228, 232);
    grid-area: heading / heading / heading / heading;
}

.w-sidevar-top-level {
    >a {
        position: relative;
        display: block;
        width: 100%;
        padding: 12px 16px;
        color: #FFF;
        background-color: #0366d6;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
        pointer-events: none;
    }
}

.w-SideNav-sub {
    margin-left: 12px;
}

.Counter {
    display: inline-block;
    min-width: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292e;
    text-align: center;
    background-color: rgba(209, 213, 218, 0.5);
    border: 1px solid transparent;
    border-radius: 2em;
}

.w-card-small {
    width: 224px;
    height: 280px;
    position: relative;
    margin: 8px;
    background-color: #fff;
    border-radius: 2px;

    a {
        color: unset;

        &:before {
            pointer-events: none;
        }
    }

    .w-card-image {
        height: 60%;
        overflow: hidden;
        position: relative;
        box-sizing: inherit;

        .w-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1;
            width: 100%;
            height: 100%;
            z-index: 1;
            position: absolute;
        }

        img {
            object-fit: fill;
            display: block;
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

        .w-card-title {
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100%;
            padding: 24px;
            font-size: 24px;
            font-weight: 300;
            z-index: 2;
        }
    }

    .w-card-content {
        max-height: 40%;
        overflow: hidden;
        padding: 24px;
        border-radius: 0 0 2px 2px;

        p {
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            text-decoration: none;
        }
    }
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 700px;

    h6 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    h2 {
        letter-spacing: 1px;
        margin: 10px 0;
    }

    .course-preview {
        background-color: #2A265F;
        color: #fff;
        padding: 30px;
        max-width: 250px;

        a {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            opacity: 0.6;
            margin-top: 30px;
            text-decoration: none;
        }

        img {
            width: 100%;
            height: 109px;
            object-fit: fill;
        }
    }

    .course-info {
        padding: 30px;
        position: relative;
        width: 100%;
    }
}